html {
    height: 100%;
    box-sizing: border-box;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  body {
    position: relative;
    margin: 0;
    padding-bottom: 40rem;
    min-height: 100%;
    font-family: Helvetica, serif;;
  }
  
 
#top{
    background-color: #955fe1;
    overflow: hidden;
    position:relative;
    top: 0;
    width: 100%;
}
 #bottom{
    background-color: #955fe1;
    overflow:hidden;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    width:100%;
    padding: 1rem;
    
}
/* decreasing the navbar logo */
.navbar-brand-logo{
    max-width: 30%;
}
/* trying to wrap the logo in the a tag*/
.navbar-brand{
    max-width: 30%;
    margin: 0;
    /* padding: 1rem 1rem; */
}
/* for positioning of the footer elements */
.footer-container{
    display: grid;
}
/* for the three divs in the footer containg image, description and links */
.footer-above{
    padding: 1rem 0 0 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
}
/* for the copyright and the back to top link */
.footer-below{
    padding: 0 5rem;
    display: grid;
}
/* reducing the image in the footer */
.footer-img{
    max-width: 60%;
}
/* alignment of the top link */
.top-link{
    text-align: right;
}
/* alignment of the copyright */
.copyright{
    text-align: center;
}
