.navbar{/*setting the background color*/
    background-color: #955fe1;
}
/* decreasing the navbar logo */
.navbar-brand-logo{
    max-width: 30%;
}
/* trying to wrap the logo in the a tag*/
/* .navbar-brand{
    max-width: 30%;
    margin: 0; */
    /* padding: 1rem 1rem; */
/* } */
/* for positioning of the footer elements */
.footer-container{
    display: grid;
}
/* for the three divs in the footer containg image, description and links */
.footer-above{
    padding: 1rem 0 0 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
}
/* for the copyright and the back to top link */
.footer-below{
    padding: 0 5rem;
    display: grid;
}
/* reducing the image in the footer */
.footer-img{
    max-width: 65%;
}
/* alignment of the top link */
.top-link{
    text-align: right;
}
/* alignment of the copyright */
.copyright{
    text-align: center;
}
/* back to top button */
/* bg style of BTT button */
.toTop-arrow {
    width: 3.5rem;
    height: 3.5rem;
    padding: 0;
    margin: 0;
    border: 0;
    border-radius: 33%;
    opacity: 0.7;
    background: black;
    cursor: pointer;
    position: fixed;
    right: 3rem;
    bottom: 3rem;
    display: none;
}

/* arrow of BTT button */
.toTop-arrow::before, .toTop-arrow::after {
    width: 31px;
    height: 7px;
    border-radius: 3px;
    background: #955fe1;
    position: absolute;
    content: "";
}

.toTop-arrow::before {
    transform: rotate(-45deg) translate(0, -50%);
    left: 0.4rem;
}

.toTop-arrow::after {
    transform: rotate(45deg) translate(0, -50%);
    right: 0.4rem;
}

/* disable focus */
.toTop-arrow:focus {
    outline: none;
}

/* font */
@font-face{
    font-family: LibreBaskerville;
    src: url('../font/LibreBaskerville-Regular.ttf');
    }
    .main-text{
        font-family: LibreBaskerville;
    }
@font-face{
    font-family: LibreBaskerville_B;
    src: url('../font/LibreBaskerville-Bold.ttf');
    }
    .title-text{
        font-family: LibreBaskerville_B;
    }