
/* body {
    position: relative;
    margin: 0;
    padding-bottom: 10rem;
    min-height: 100%;
    font-family: times new roman, serif;
  } */
.card-style1 {
    box-shadow: 0px 0px 10px 0px rgb(89 75 128 / 9%);
}
.border-0 {
    border: 0!important;
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
}

section {
    padding: 120px 0;
    overflow: hidden;
    background: #fff;
}
.mb-2-3, .my-2-3 {
    margin-bottom: 2.3rem;
}

.section-title {
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 10px;
    position: relative;
    display: inline-block;
}
.text-primary {
    color: #ceaa4d !important;
}
.text-secondary {
    color: #15395A !important;
}
.font-weight-600 {
    font-weight: 600;
}
.display-26 {
    font-size: 1.3rem;
}

@media screen and (min-width: 992px){
    .p-lg-7 {
        padding: 4rem;
    }
}
@media screen and (min-width: 768px){
    .p-md-6 {
        padding: 3.5rem;
    }
}
@media screen and (min-width: 576px){
    .p-sm-2-3 {
        padding: 2.3rem;
    }
}
.p-1-9 {
    padding: 1.9rem;
}

.bg-secondary {
    background: #15395A !important;
}
@media screen and (min-width: 576px){
    .pe-sm-6, .px-sm-6 {
        padding-right: 3.5rem;
    }
}
@media screen and (min-width: 576px){
    .ps-sm-6, .px-sm-6 {
        padding-left: 3.5rem;
    }
}
.pe-1-9, .px-1-9 {
    padding-right: 1.9rem;
}
.ps-1-9, .px-1-9 {
    padding-left: 1.9rem;
}
.pb-1-9, .py-1-9 {
    padding-bottom: 1.9rem;
}
.pt-1-9, .py-1-9 {
    padding-top: 1.9rem;
}
.mb-1-9, .my-1-9 {
    margin-bottom: 1.9rem;
}
@media (min-width: 992px){
    .d-lg-inline-block {
        display: inline-block!important;
    }
}
.rounded {
    border-radius: 0.25rem!important;
}
  
  .slider-container{
    position: relative;
    overflow-x: hidden;
    height: 200px;
}
.slider-width{
    position: absolute;
    display: flex;
    align-items: start;
    justify-content: start;
    left: 0;
    top: 0;
    transition: 0.4s ease-in-out;
}
.item{
   display: flex;
   justify-content: center;
   align-items: center;
   
    width: 300px;
    height: 200px;
    background: rgb(23 147 83);
    margin: 0 10px;
    color: #fff;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}
/* .btn{
   background: rgb(85, 83, 83);
   border: none;
   outline: none;
   color: #fff;
   font-size: 20px;
   margin-top: 20px;
   padding: 6px 12px;
   cursor: pointer;
   position: absolute;
   left: 50%;
   transform: translate(-50%);
}
.btn:nth-child(2){
   margin-left: -74px;
} */
/*  .center {
    border: 3px solid;
    margin: auto;
    width: 40%; 
    padding: 10px; 
}
.row{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 3px;
    padding-bottom: 3rem;
}
  
.container {
    float: left;
    width: auto;  
    text-align: center;
  }
  .courses{
    float: left;
    max-width: 450px;
  }
.column{
    float: left;
    max-height: auto;
    max-width: 84%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
  }
  .copyright{
    text-align: center;
}
.details{
    font-size: 50pxl;
}
.avatar {
    vertical-align: middle;
    max-width: 250px;
    height: auto;
    /* border-radius: 20%; */
  