{% extends 'simplify_main_app/base.html' %}
{% load static %}
{% block title_block %}
Dashboard
{% endblock %}
{% block body_block %}
<h1 class="title-text text-center mt-5">Myaccount</h1>
<div class="row mb-5 mt-5">
    <div class="col-4 px-3">
        <img class="d-block w-100" src="{% static 'images/homepage_img.jpg' %}" alt="picture of two students">
    </div>
    <div class="col-5 px-3">
        <span class="title-text">Description</span>
        </br>
        <span>First Name: {{ user.first_name }}</span><br />
        <span>Last Name: {{ user.last_name }}</span><br />
        {% if user.role == 'TUT' %}
            <span>I'm a : Tutor</span><br />
        {% else %}
            <span>I'm a : Student</span><br />
        {% endif %}
        <span>{{ user_info.5 }}</span>
        <!-- eg: lisa, tutor -->
        <p class="main-text mt-3">
           {{ user_info.6 }}
        </p>
    </div>
    <div class="col-2 ms-3">
        <!-- add modal to edit profile -->
        <button class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Edit</button>
    </div>
</div>
<!-- modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form action="." method="post">
            {% csrf_token %}
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Edit profile</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {% comment %} <div class="mb-3">
                    <label for="emailInput" class="form-label">intro</label>
                    <input type="text" class="form-control" id="emailInput" aria-describedby="emailHelp" name="intro">
                </div> {% endcomment %}
                <div class="mb-3">
                    <label for="nameInput" class="form-label">Firstname</label>
                    <input type="text" class="form-control" id="nameInput" name="f_name">
                </div>
                <div class="mb-3">
                    <label for="nameInput" class="form-label">Lastname</label>
                    <input type="text" class="form-control" id="nameInput" name="l_name">
                </div>
                 <div class="mb-3">
                    <label for="nameInput" class="form-label">intro</label>
                    <input type="text" class="form-control" id="nameInput" name="intro">
                </div>
                {% comment %} <div class="mb-3">
                    <label for="PswInput" class="form-label">Password</label>
                    <input type="password" class="form-control" id="PswInput">
                </div> {% endcomment %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">save changes</button>
            </div>
        </div>
            </form>
    </div>
</div>

<h2 class="title-text mt-5">Courses-Forum</h2>
<div class="row">
    <!-- courses -->
    <!-- these are example courses, just loop one to generate -->

    {% for c in course %}
     <div class="card col-3 mx-4 my-4">
        <img src="{% static 'images/homepage_img.jpg' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{ c.1 }}</h5>
          <p class="card-text">{{ c.2 }}</p>
          <a href="/forum/forum?id={{ c.0 }}" class="btn btn-dark mt-3">Enter</a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}