{% extends 'simplify_main_app/base.html' %}
{% load staticfiles %}

{% block title_block %}
Add course
{% endblock %}

{% block body_block %}
<h1 class="title-text text-center mt-5">ADD A COURSE</h1>
<h3 class="title-text my-5 ms-5">Basic Information</h3>
<div class="container">
    <!-- information field -->
    <div class="row ms-5 main-text">
        <div class="col-7 px-5">
            {% if user.is_authenticated %}
            {% if user.role == 'TUT' %}
            <form id="course_form" method="post" action="{% url 'simplify_main_app:add_course' %}" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="title" class="form-label">Course title</label>
                    <input type="text" class="form-control w-50" id="course_name" name="course_name">
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea class="form-control" id="introduction" rows="5" name="introduction"></textarea>
                </div>
                
                <br />
                <button class="btn btn-dark mt-3" type="submit" name="submit">Add Course</button>
            </form>
            {% else %}
            <p>Not authorised to create a course</p>
            {% endif %}
            {% endif %}
        </div>
    </div>
</div>
    {% endblock %}