<!DOCTYPE html>
{% load staticfiles %}


<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <meta name="description" content="">
    <link rel="icon" href="{% static 'images/favicon_io/favicon.ico' %}">
    <title>
        Simplify
        {% block title_block %}
        description
        {% endblock %}
    </title>
</head>

<body>
    <header>
        <nav>

            <a href="{% url 'simplify_main_app:index' %}"><img src="{% static 'images/logo.jpg' %}"
                    alt="logo of simplify"> </a>
            <ul>
                <li><a href="{% url 'simplify_main_app:index' %}">Home</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Courses</a></li>
                {% if user.is_authenticated %}
                <li><a href="{% url 'simplify_main_app:dashboard' %}">Dashboard</a></li>
                <li><a href="{% url 'simplify_main_app:logout' %}">Logout</a></li>
                {% else %}
                <li><a href="{% url 'simplify_main_app:register' %}">Signup</a></li>
                <li><a href="{% url 'simplify_main_app:login' %}">Login</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <div>
        {% block body_block %}
        {% endblock %}
    </div>
    <footer>
        <img src="{% static 'images/logo.jpg' %}" alt="logo of simplify">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia natus suscipit ad provident praesentium
            earum excepturi nihil eligendi voluptatibus dolore.</p>
        <ul>
            <li><a href="{% url 'simplify_main_app:index' %}">Home</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Courses</a></li>
            <li><a href="{% url 'simplify_main_app:register' %}">Signup</a></li>
            <li><a href="{% url 'simplify_main_app:login' %}">Login</a></li>
        </ul>
        <p><a href="#">back to top</a></p>
        <p>&copy; 2023 Simplify</p>
    </footer>
</body>

</html>