{% extends 'simplify_main_app/base.html' %}
{% load staticfiles %}
{% block title_block %}
Dashboard
{% endblock %}

{% block body_block %}

<!-- <div style="width: 100%; overflow: hidden; padding-top:2%; padding-left: 5%; font-size: 10px"> -->

    <!-- <h2>Dashboard</h2> -->
    <!-- <div style=" float: left; text-align: left" id="profile pic"> 
        <img src="{% static 'images/avatar.png' %}" alt="Avatar" class="avatar">
    </div>
    <div style="margin-left: 200px; margin-top:30px; float: left; text-align: left;" class="details"> 
        <h4>Name:</h4>
        <h4>Email address:</h4>
        <h4>Address:</h4>
        <h4>Program:</h4>
        <h4>Year: </h4>
        <h4>School: </h4> 
    </div> -->
 
   <!-- <div style="margin-left: 175px; margin-top:60pxl; margin-bottom: 20pxl; float: left; text-align: left" >  -->
<!-- <div class="wrapper">
    <div class="left">
        <img src="{% static 'images/avatar.png' %}" 
        alt="user" width="100">
        <h4>Vikram Baruah</h4>
         <p>MSc Software Development</p>
    </div>
    <div class="right">
        <div class="info">
            <h3>Information</h3>
            <div class="info_data">
                 <div class="data">
                    <h4>Email</h4>
                    <p>vikram.baruah@gmail.com</p>
                 </div>
                 <div class="data">
                   <h4>Phone</h4>
                    <p>0123456789</p>
              </div>
            </div>
        </div>
      
      <div class="projects">
            <div class="projects_data">
                 <div class="data">
                    <h4>Recent</h4>
                    <p>Lorem ipsum dolor sit amet.</p>
                 </div>
                 <div class="data">
                   <h4>Most Viewed</h4>
                    <p>dolor sit amet.</p>
              </div>
            </div>
        </div>
    </div>
</div> -->
    
   <!--  <div style="text-align: left; margin-left: 160px">
        <button class="button-17" role="button"> Edit Profile </button>  
    </div>   

<div style="margin-left: 750px; margin-top:30px; float: left"> <h2>My courses</h2></div>


<div class="row" style="margin-left: 100px; margin-top:500pxl; float: left" >
    <div class="column"><img src="{% static 'images/course1.jpg' %}" class="courses">
    <div class="container">
        <p>Course 1</p>
        </div>
    </div>
    <div class="column"><img src="{% static 'images/course2.jpg' %}" class="courses">
        <div class="container">
            <p>Course 2</p>
        </div>
    </div>
    <div class="column"><img src="{% static 'images/course3.jpg' %}" class="courses">
        <div class="container">
            <p>Course 3</p>
        </div>
    </div>
</div>
<div style="margin-left: 750px; margin-top:2px; float: left"> <h2>Available courses</h2></div>


<div class="row" style="margin-left: 100px; margin-top:500pxl; float: left" >
    <div class="column"><img src="{% static 'images/course1.jpg' %}" class="courses">
        <div class="container">
            <p>Course 1</p>
        </div>
    </div>
    <div class="column"><img src="{% static 'images/course2.jpg' %}" class="courses">
        <div class="container">
            <p>Course 2</p>
        </div>
    </div>
    <div class="column"><img src="{% static 'images/course3.jpg' %}" class="courses">
        <div class="container">
            <p>Course 3</p>
        </div>
    </div>
</div> -->
{% comment %} <link rel="stylesheet" href="{% static 'CSS/my.css' %}"> {% endcomment %}
<section class="bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 mb-4 mb-sm-5">
                <div class="card card-style1 border-0">
                    <div class="card-body p-1-9 p-sm-2-3 p-md-6 p-lg-7">
                        <div class="row align-items-center">
                            <div class="col-lg-6 mb-4 mb-lg-0">
                                <img src="{% static 'images/avatar.png' %}" alt="...">
                            </div>
                            
                            <div class="col-lg-6 px-xl-10">
                                <div class="bg-secondary d-lg-inline-block py-1-9 px-1-9 px-sm-6 mb-1-9 rounded">
                                    <h3 class="h2 text-white mb-0">Vikram Baruah</h3>
                                    <span class="text-primary">Student</span>
                                </div>
                                <ul class="list-unstyled mb-1-9">
                                    <li class="mb-2 mb-xl-3 display-28"><span class="display-26 text-secondary me-2 font-weight-600">School:</span> School of xyz</li>
                                    <li class="mb-2 mb-xl-3 display-28"><span class="display-26 text-secondary me-2 font-weight-600">Year:</span> First</li>
                                    <li class="mb-2 mb-xl-3 display-28"><span class="display-26 text-secondary me-2 font-weight-600">Email:</span> xyz@mail.com</li>
                                    <li class="mb-2 mb-xl-3 display-28"><span class="display-26 text-secondary me-2 font-weight-600">Phone:</span> 01234-56789</li>
                                    <li class="display-28"><span class="display-26 text-secondary me-2 font-weight-600">Address:</span> </li>
                                </ul>
                                <ul class="social-icon-style1 list-unstyled mb-0 ps-0">
                                    <li><a href="#!"><i class="ti-twitter-alt"></i></a></li>
                                    <li><a href="#!"><i class="ti-facebook"></i></a></li>
                                    <li><a href="#!"><i class="ti-pinterest"></i></a></li>
                                    <li><a href="#!"><i class="ti-instagram"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div> <button type="button" class="btn btn-secondary btn-lg">Edit Profile</button></div>
        </div>
    </div>
</section>
<div style="margin-bottom: 8px">
<div class="d-print-table p-4 bg-secondary text-white"> 
My Courses

</div>

</div>
<div class="slider-container" item-display-d="4" item-display-t="3" item-display-m="1">
    <div class="slider-width">
        <div class="item">Course 1</div>
        <div class="item">Course 2</div>
        <div class="item">Course 3</div>
        <div class="item">Course 4</div>
        <div class="item">Course 5</div>
        <div class="item">Course 6</div>
        <div class="item">Course 7</div>
        <div class="item">Course 8</div>
        <div class="item">Course 9</div>
        <div class="item">Course 10</div>
        <div class="item">Course 11</div>
        <div class="item">Course 12</div>
        <div class="item">Course 13</div>
        <div class="item">Course 14</div>
        <div class="item">Course 15</div>
        <div class="item">Course 16</div>
    </div>
</div>
<div style="margin: 8px">
    <button type="button" class="btn btn-secondary btn-lg" onclick="prev()">Prev</button>
    <button align="left" type="button" class="btn btn-secondary btn-lg" onclick="next()">Next</button>

</div>

<div style="margin-bottom: 8px; margin-top: 200px">
    <div class="d-print-table p-4 bg-secondary text-white"> 
    Available Courses
    
    </div>
    
    </div>
    <div class="slider-container" item-display-d="4" item-display-t="3" item-display-m="1">
        <div class="slider-width">
            <div class="item">Course 1</div>
            <div class="item">Course 2</div>
            <div class="item">Course 3</div>
            <div class="item">Course 4</div>
            <div class="item">Course 5</div>
            <div class="item">Course 6</div>
            <div class="item">Course 7</div>
            <div class="item">Course 8</div>
            <div class="item">Course 9</div>
            <div class="item">Course 10</div>
            <div class="item">Course 11</div>
            <div class="item">Course 12</div>
            <div class="item">Course 13</div>
            <div class="item">Course 14</div>
            <div class="item">Course 15</div>
            <div class="item">Course 16</div>
        </div>
    </div>
    <div style="margin: 8px">
        <button type="button" class="btn btn-secondary btn-lg" onclick="prev()">Prev</button>
        <button align="left" type="button" class="btn btn-secondary btn-lg" onclick="next()">Next</button>
    
    </div>
{% endblock %}