{% extends 'simplify_main_app/base.html' %}
{% load staticfiles %}
{% block title_block %}
Dashboard
{% endblock %}

{% block body_block %}

<section class="bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 mb-4 mb-sm-5">
                <div class="card card-style1 border-0">
                    <div class="card-body p-1-9 p-sm-2-3 p-md-6 p-lg-7">
                        <div class="row align-items-center">
                            <div class="col-lg-6 mb-4 mb-lg-0">
                                <img src="{% static 'images/avatar.png' %}" alt="...">
                            </div>
                            
                            <div class="col-lg-6 px-xl-10">
                                <div class="bg-secondary d-lg-inline-block py-1-9 px-1-9 px-sm-6 mb-1-9 rounded">
                                    <h3 class="h2 text-white mb-0">Vikram Baruah</h3>
                                    <span class="text-primary">Student</span>
                                </div>
                                <ul class="list-unstyled mb-1-9">
                                    <li class="mb-2 mb-xl-3 display-28"><span class="display-26 text-secondary me-2 font-weight-600">School:</span> School of xyz</li>
                                    <li class="mb-2 mb-xl-3 display-28"><span class="display-26 text-secondary me-2 font-weight-600">Year:</span> First</li>
                                    <li class="mb-2 mb-xl-3 display-28"><span class="display-26 text-secondary me-2 font-weight-600">Email:</span> xyz@mail.com</li>
                                    <li class="mb-2 mb-xl-3 display-28"><span class="display-26 text-secondary me-2 font-weight-600">Phone:</span> 01234-56789</li>
                                    <li class="display-28"><span class="display-26 text-secondary me-2 font-weight-600">Address:</span> </li>
                                </ul>
                                <ul class="social-icon-style1 list-unstyled mb-0 ps-0">
                                    <li><a href="#!"><i class="ti-twitter-alt"></i></a></li>
                                    <li><a href="#!"><i class="ti-facebook"></i></a></li>
                                    <li><a href="#!"><i class="ti-pinterest"></i></a></li>
                                    <li><a href="#!"><i class="ti-instagram"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div> <button type="button" class="btn btn-secondary btn-lg">Edit Profile</button></div>
        </div>
    </div>
</section>
<div style="margin-bottom: 8px">
<div class="d-print-table p-4 bg-secondary text-white"> 
My Courses

</div>

</div>
<div class="slider-container" item-display-d="4" item-display-t="3" item-display-m="1">
    <div class="slider-width">
        <div class="item"><a href="#"><img src="{% static 'images/course1.jpg' %}" style="width: 300px; height:200px"> </img></a></div>
        <div class="item"><a href="#">Course 2</div></a>
        <div class="item"><a href="#">Course 3</div></a>
        <div class="item"><a href="#">Course 4</div></a>
        <div class="item"><a href="#">Course 5</div></a>
        <div class="item"><a href="#">Course 6</div></a>
        <div class="item"><a href="#">Course 7</div></a>
        <div class="item"><a href="#">Course 8</div></a>
        <div class="item"><a href="#">Course 9</div></a>
        <div class="item"><a href="#">Course 10</div></a>
        <div class="item"><a href="#">Course 11</div></a>
        <div class="item"><a href="#">Course 12</div></a>
        <div class="item"><a href="#">Course 13</div></a>
        <div class="item"><a href="#">Course 14</div></a>
        <div class="item"><a href="#">Course 15</div></a>
        <div class="item"><a href="#">Course 16</div></a>
    </div>
</div>
<div style="margin: 8px">
    <button type="button" class="btn btn-secondary btn-lg" onclick="prev()">Prev</button>
    <button align="left" type="button" class="btn btn-secondary btn-lg" onclick="next()">Next</button>

</div>

<div style="margin-bottom: 8px; margin-top: 200px">
    <div class="d-print-table p-4 bg-secondary text-white"> 
    Available Courses
    
    </div>
    
    </div>
    <div class="slider-container" item-display-d="4" item-display-t="3" item-display-m="1">
        <div class="slider-width">
            <div class="item">Course 1</div>
            <div class="item">Course 2</div>
            <div class="item">Course 3</div>
            <div class="item">Course 4</div>
            <div class="item">Course 5</div>
            <div class="item">Course 6</div>
            <div class="item">Course 7</div>
            <div class="item">Course 8</div>
            <div class="item">Course 9</div>
            <div class="item">Course 10</div>
            <div class="item">Course 11</div>
            <div class="item">Course 12</div>
            <div class="item">Course 13</div>
            <div class="item">Course 14</div>
            <div class="item">Course 15</div>
            <div class="item">Course 16</div>
        </div>
    </div>
    <div style="margin: 8px">
        <button type="button" class="btn btn-secondary btn-lg" onclick="prev()">Prev</button>
        <button align="left" type="button" class="btn btn-secondary btn-lg" onclick="next()">Next</button>
    
    </div>
{% endblock %}