{% extends 'simplify_main_app/base.html' %}
{% load staticfiles %}
{% block title_block %}
Dashboard
{% endblock %}
{% block body_block %}
<h1 class="title-text text-center mt-5">Dashboard</h1>
<section class="bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 mb-4 mb-sm-5">
                <div class="card card-style1 border-0">
                    <div class="card-body p-1-9 p-sm-2-3 p-md-6 p-lg-7">
                        <div class="row align-items-center">
                            <div class="col-lg-6 mb-4 mb-lg-0">
                                <img src="{% static 'images/avatar.png' %}" alt="...">
                            </div>
                            
                            <div class="col-lg-6 px-xl-10">
                                {% comment %} <div class="bg-secondary d-lg-inline-block py-1-9 px-1-9 px-sm-6 mb-1-9 rounded">
                                    <h3 class="h2 text-white mb-0">{{user.first_name}} {{user.last_name}}</h3>
                                    <span class="text-primary">Student</span>
                                </div> {% endcomment %}
                                <ul class="list-unstyled mb-1-9">
                                  <h3>Welcome {{user.first_name}} {{user.last_name}}</h3>
                                </ul>
                                
                            </div>
                        </div>
                        <div class="col-2 ms-3">
                            <!-- add modal to edit profile -->
                            <button class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Edit Profile</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Edit profile</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label for="emailInput" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="emailInput" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <label for="nameInput" class="form-label">Firstname</label>
                    <input type="text" class="form-control" id="nameInput">
                </div>
                <div class="mb-3">
                    <label for="nameInput" class="form-label">Lastname</label>
                    <input type="text" class="form-control" id="nameInput">
                </div>
                <div class="mb-3">
                    <label for="PswInput" class="form-label">Password</label>
                    <input type="password" class="form-control" id="PswInput">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">save changes</button>
            </div>
        </div>
    </div>
</div>
    
<h2 class="title-text mt-5">My Courses</h2>
<div class="row">
    {% for c in courses %}
    {% for s in courseid%}
    {% if c.id == s.course_id %}
    <!-- courses -->
    <!-- these are example courses, just loop one to generate -->
    <div class="card col-3 mx-4 my-4">
        <img src="{% static 'images/homepage_img.jpg' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{c.course_name}}</h5>
          <p class="card-text">{{c.introduction}}</p>
          <a href="#" class="btn btn-primary">Enter</a>
        </div>
    </div>
    {% endif %}
    {% endfor %}
    {% endfor %}
</div>

<h2 class="title-text mt-5">Available Courses</h2>
<form class="mb-5 main-text" id="StudentCourseForm" method="post">
{% csrf_token %}
<div class="row">
    <!-- courses -->
    <!-- these are example courses, just loop one to generate -->
    {% for c in courses %}
    <!-- courses -->
    <!-- these are example courses, just loop one to generate -->
    <div class="card col-3 mx-4 my-4">
        <img src="{% static 'images/homepage_img.jpg' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{c.course_name}}</h5>
          <p class="card-text">{{c.introduction}}</p>
          <a href="#" class="btn btn-primary">Enter</a>
        </div>
    </div>
    {% endfor %}
</div>
</form> 
{% endblock %}