{% extends 'simplify_main_app/base.html' %}
{% load staticfiles %}
{% block title_block %}
Login
{% endblock %}
{% block body_block %}
<h1 class="title-text text-center mt-5">Login to Simplify</h1>
<div class="container d-flex justify-content-center mt-5 main-text">
    <form id="login_form" method="post" action="{% url 'simplify_main_app:login' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="mb-4">
            <label for="inputUsername" class="form-label">Username</label>
            <input class="form-control mb-3" id="inputUsername" type="text" name="username" value="" size="50" />
            <label for="inputPassword" class="form-label ">Password</label>
            <input class="form-control" id="inputPassword" type="password" name="password" value="" size="50" />
        </div>
        <input style="width: 150px;" class="btn btn-dark" type="submit" value="login" />
    </form>
</div>
{% endblock %}